In [10]:
import pandas as pd
dataOld = pd.read_csv("bigfu.csv", sep =';')
dataOld = dataOld.drop(['BenutzerNr', 'FahrzeugNr', 'Strecke', 'KraftstoffNr',  \
                  'Kraftstoff', 'Notiz', 'Verbrauch', 'Sparsam', \
                  'Normal', 'Schnell', 'Winter', 'Sommer', 'Ganzjahr', \
                  'Stadt', 'Land', 'Autobahn', 'Klima', 'Anhaenger'], axis=1)
dataOld.head()

   ArtNr       Datum  Laufleistung Tankmenge Kosten
0      2  2018-05-02        161152     20,91  25,07
1      1  2018-04-19        160309     39,18  45,80
2      1  2018-04-12        159559     37,11  43,75
3      1  2018-04-01        158783     25,05  29,28
4      1  2018-03-28        158231     45,81  52,64

In [100]:
dataNew = pd.read_csv("bigfuNew.csv", sep = r'\t', engine='python')
data = pd.concat([dataOld, dataNew])
ordData = data.sort_values(by='Datum')
carInfo = pd.DataFrame(ordData)
carInfo['Datum'] = pd.to_datetime(carInfo.Datum)
carInfo['Tankmenge'] = pd.to_numeric(carInfo.Tankmenge.apply(lambda x: x.replace(',','.')))
carInfo['Kosten'] = pd.to_numeric(carInfo.Kosten.apply(lambda x: x.replace(',','.')))
carInfo['Price'] = (carInfo.Kosten/carInfo.Tankmenge).round(3)
# tank = pd.to_numeric(ordData.Tankmenge.apply(lambda x: x.replace(',','.')))
# kosten = pd.to_numeric(ordData.Kosten.apply(lambda x: x.replace(',','.')))
carInfo = carInfo.set_index('Datum')
carInfo.head()

            ArtNr  Laufleistung  Tankmenge  Kosten  Price
Datum
2016-01-29      3        107480      40.27   38.22  0.949
2016-02-08      1        108190      37.99   36.05  0.949
2016-02-18      1        109040      42.13   39.14  0.929
2016-02-25      1        109839      43.47   40.82  0.939
2016-03-04      1        110400      27.71   27.96  1.009

In [102]:
d2016 = pd.datetime(2016,1,1)
d2017 = pd.datetime(2017,1,1)
d2018 = pd.datetime(2018,1,1)
d2019 = pd.datetime(2019,1,1)
carInfo[d2016:d2017]

            ArtNr  Laufleistung  Tankmenge  Kosten  Price
Datum
2016-01-29      3        107480      40.27   38.22  0.949
2016-02-08      1        108190      37.99   36.05  0.949
2016-02-18      1        109040      42.13   39.14  0.929
2016-02-25      1        109839      43.47   40.82  0.939
2016-03-04      1        110400      27.71   27.96  1.009
2016-03-07      2        111125      10.50   10.70  1.019
2016-03-08      1        111429      41.88   40.58  0.969
2016-03-18      1        111891      23.00   22.52  0.979
2016-03-23      1        112535      32.20   32.17  0.999
2016-03-30      1        113214      33.66   35.31  1.049
2016-04-11      1        113869      32.44   32.41  0.999
2016-04-14      1        114704      40.92   40.47  0.989
2016-04-28      1        115166      22.56   24.12  1.069
2016-05-05      1        115867      35.08   36.10  1.029
2016-05-16      1        116690      38.71   41.38  1.069
2016-05-25      1        117318      29.80   31.26  1.049
2016-05-30      1        118310      45.82   49.44  1.079
2016-06-13      1        118892      25.70   27.22  1.059
2016-06-18      1        119633      35.26   39.10  1.109
2016-06-29      1        120498      41.79   44.26  1.059
2016-07-08      1        120995      22.57   23.90  1.059
2016-07-14      1        121648      29.81   30.97  1.039
2016-07-28      1        122249      26.99   27.23  1.009
2016-08-04      1        122728      20.46   20.23  0.989
2016-08-29      1        123501      37.93   40.17  1.059
2016-09-14      1        124408      41.31   42.51  1.029
2016-09-23      1        125258      39.94   41.10  1.029
2016-09-29      1        125984      34.82   36.18  1.039
2016-10-06      1        126769      36.36   38.87  1.069
2016-10-19      1        127668      43.06   46.89  1.089
2016-11-26      1        128443      40.26   44.25  1.099
2016-12-05      1        129246      41.41   45.92  1.109
2016-12-15      1        130067      41.93   47.34  1.129